<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <meta charset="utf-8">
    <title>Stutter.io</title>
  </head>
  <body>
    <script src="../public/js/facebook.js"></script>
    <div class="header">
      <h1>Welcome to Stutter.io</h1>
    </div>
    <div class="body">
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" onlogin="checkLoginState()" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </div>
  </body>
</html>
