<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <meta charset="utf-8">
    <title>Stutter.io</title>
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Stutter.IO</h1>
    </div>
    <div class="body">
      <div class="input-holder">
        <textarea id="input-body" cols="40" rows="5" placeholder="{{ text }}"></textarea>
      </div>
    </div>
  </body>
</html>
