<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="utf-8">
    <title>Stutter.io</title>
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Stutter.IO</h1>
    </div>
    <div class="body">
      <div class="input-holder">
        <div class="words" contenteditable>
          {{ text }}
        </div>
        <!-- <textarea id="input-body" cols="40" rows="5" placeholder="{{ text }}"></textarea> -->
      </div>
      <div class="btn-holder">
        <button id="record-btn" onclick="handleRecord()">
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </button>
        <!-- <button id="submit-btn" onclick="handleSubmit()">Submit</button> -->
      </div>
      <audio id="audio" controls autoplay></audio>
    </div>
    <script src="https://github.com/muaz-khan/RecordRTC/releases/download/5.4.5/RecordRTC.js"></script>
    <script src="../public/js/scripts.js"></script>
    <script src="../public/js/highlight.js"></script>
    <script src="../public/js/speech.js"></script>
  </body>
</html>
