html {
  height: 100%;
}
body {
  background: black;
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  height: 100%;
}

.header {
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px 30px;
}

h1 {
  margin: 30px auto;
}

.body {
  text-align: center;
  height: 90%;
  margin: auto;
}

.input-holder {
  margin: auto;
  height: auto;
  display: flex;
}

#input-body {
  margin: auto;
  height: 90%;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

.words {
  display: inline-block;
  color: black;
  max-width:500px;
  margin:50px auto;
  background:white;
  border-radius:5px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
  padding:1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height:3rem;
  width: 50%;
  height: auto;
}

.words span {
  color: red;
}

.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.btn-holder {
  display: flex;
  padding: 10px;
  width: 30%;
  margin: auto;
}

#record-btn {
  margin: auto;
  background: white;
  font-size: 50px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
}

#record-btn:hover {
  background: #e0e0e0;
}

#submit-btn {
  margin: auto;
}
